.header
{
    background-color: #222;
    height: 36px;
    padding: 8px 32px 8px 16px;
    position: relative;
    width:100%;
    /* display: flex; */
    /* display: block; */
    overflow: hidden;
}

.button2
{
    position: absolute;
    left: 87%;
    /* width: 100%; */
    bottom: 39px;

}

.button1
{
    position: absolute;
    left: 85%;
    /* width: 120%; */
    bottom: 39px;

}

.logo
{
    background-color: #ff7f7f;
    height: 35px;
    text-align: left;
    /* position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px; */
    -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }